$white: rgba(255, 255, 255, 1);
$gallery: rgba(240, 240, 240, 1);
$alto: rgba(222, 222, 222, 1);
$mine-shaft: rgba(36, 36, 36, 1);

$serenade: rgba(255, 245, 229, 1);
$papaya-whip: rgba(255, 237, 209, 1);
$grandis: rgba(255, 217, 149, 1);
$brown-bramble: rgba(106, 43, 5, 1);